.container {
  max-width: 1170px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 1.5rem;
}

// Margin and padding classes
$spaceAmounts: (0, 1, 2, 3, 4, 5, 6);

@each $space in $spaceAmounts {
  $value: $space * 0.5rem;

  .m-#{$space} {
    margin: $value;
  }
  .p-#{$space} {
    padding: $value;
  }

  .my-#{$space} {
    margin: $value 0;
  }
  .py-#{$space} {
    padding: $value 0;
  }

  .mx-#{$space} {
    margin: 0 $value;
  }
  .px-#{$space} {
    padding: 0 $value;
  }
}
